body {
    font-family: Arial, sans-serif;
}

pre {
    position: relative;
    background: #f5f5f5;
    padding: 45px 15px 15px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 600px;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 20px;
}

.copy-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #555;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-container:hover {
    background-color: #ddd;
}

/* Thêm chữ "Copy" khi hover */
.copy-container:hover::after {
    content: " Copy";
    color: #555; /* Tùy chỉnh màu chữ nếu cần */
    font-size: 12px;
    padding-left: 5px; /* Khoảng cách giữa "Copy code" và "Copy" */
}

.icon-sm {
    width: 16px;
    height: 16px;
}
